<%- include("header.ejs") %>

<div class="container">
  <div class="users">
    <h6><%= name %></h6>
    <button 
      class="btn btn-sm btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#createGroupModal">
        + Create Group
    </button>
    <h3>Users</h3>

    <input
      type="text"
      id="user-search"
      placeholder="Search users..."
      autocomplete="off"
    />

    <ul id="search-results"></ul>

    <% if (users && users.length) { %> <% users.forEach(u => { %>
    <div
      class="user-item"
      id="chat-<%= u.chatListId %>"
      onclick="openChat(<%= u.chatListId %>, '<%= u.name %>', <%= u.userId %>)"
    >
      <strong><%= u.name %><% if (u.unreadCount > 0) { %>
      <span class="badgeC"><%= u.unreadCount %></span>
      <% } %></strong>

      <% if (u.lastMessage) { %>
      <div class="preview">
        <%= u.lastMessage.senderId === user.id ? "You: " : "" %> <%=
        u.lastMessage.message.length > 22 ? u.lastMessage.message.slice(0, 22) +
        "..." : u.lastMessage.message %>
      </div>
      <% } %> 
    </div>

   <% }) %> <% } else { %>
    <p>No users found</p>
    <% } %>

    <br />
    <a href="#" onclick="logout()">Logout</a>
  </div>

  <!-- CHAT AREA -->
  <div class="chat" id="chatBox">
    <div class="chat-navbar">
      <div id="chat-username">Select a user to chat</div>
      <p id="chat-status"></p>
    </div>

    <div class="messages" id="messages"></div>

    <div class="input">
      <label for="fileInput" style="cursor: pointer; margin-right: 8px"
        >📎</label
      >
      <input
        type="file"
        id="fileInput"
        hidden
        accept="image/*,video/*,audio/*"
        onchange="handleFileUpload(event)"
      />

      <input type="text" id="msg" placeholder="Type message..." />
      <!-- <button onclick="sendMessage()">Send</button> -->
      <button id="sndBtn">Send</button>
    </div>
  </div>
</div>


<!-- create goup modal -->
 <div class="modal fade" id="createGroupModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Create Group</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input
          type="text"
          id="group-name"
          class="form-control mb-2"
          placeholder="Group name"
        />

        <input
          type="text"
          id="group-user-search"
          class="form-control"
          placeholder="Search users..."
        />

        <ul id="group-search-results"></ul>

        <h6>Selected users</h6>
        <ul id="selected-users"></ul>
      
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" onclick="createGroup()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>


<%- include("footer.ejs") %>
